.NavigationItem {
    display: block;
    box-sizing: border-box;
    padding: 15px; 
    width: 100%;
    font-size: 18px;
}

.NavigationItem a{
    text-decoration: none;
    color: #fff;
    height: 100%;
    display:block;
    border-bottom: 4px solid transparent;
    padding:15px;
}

.NavigationItem a:hover, 
.NavigationItem a:active,
.NavigationItem a.active {
    transition: .3s;
    border-bottom: 4px solid rgb(157, 197, 229);
    background-color: rgba(209, 209, 209,50%);
    
    
}

@media(min-width: 500px) {
    .NavigationItem {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
    }
    
}